@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans&family=Catamaran:wght@400;700;800&display=swap");
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: black;
  color: white;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ffc107;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: black;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}

.header .link {
  height: 7rem;
  line-height: 7rem;
  margin: 0 3rem;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #888;
}

.header .link.logo {
  font-size: 42px;
  color: white;
}

.header .link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 24px;
  font-family: 'Albert Sans', sans-serif;
}

.section a {
  position: absolute;
  top: 0;
}

.section .title-text {
  font-weight: 800;
  font-size: 56px;
  font-family: 'Catamaran', sans-serif;
}

.section .title-text.bigger {
  font-size: 86px;
}

.section .title-text span {
  color: #888;
  background: url("https://img.freepik.com/vektoren-kostenlos/flacher-hand-gezeichneter-welliger-mehrfarbiger-grooviger-hintergrund_23-2148848397.jpg?w=360");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  background-size: 400px 400px !important;
  -webkit-animation: header-animation 8s linear infinite;
          animation: header-animation 8s linear infinite;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.section .title-text span:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.section p {
  line-height: 2.4rem;
}

.section .row {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  min-height: 48px;
  width: 100%;
}

.section .row a {
  position: static;
  width: 48px;
  height: 48px;
  margin-right: 1rem;
}

.section .row a .social-icon {
  width: 48px;
  height: 48px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.section .row a .social-icon#spotify {
  background: url("/img/icons/spotify.svg");
}

.section .row a .social-icon#spotify:hover {
  background: url("/img/icons/spotify-c.svg");
}

.section .row a .social-icon#youtube {
  background: url("/img/icons/youtube.svg");
}

.section .row a .social-icon#youtube:hover {
  background: url("/img/icons/youtube-c.svg");
}

.section .row a .social-icon#github {
  background: url("/img/icons/github.svg");
}

.section .row a .social-icon#github:hover {
  background: url("/img/icons/github-c.svg");
}

.section .row a .social-icon#mail {
  background: url("/img/icons/mail.svg");
}

.section .row a .social-icon#mail:hover {
  background: url("/img/icons/mail-c.svg");
}

.section .row .cover {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin-right: 2rem;
  background-size: cover !important;
}

.section .row .cover div {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.section .row .cover:hover .shadow {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  opacity: 1;
}

.section .row .cover:hover .img {
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}

.section .row .cover .shadow {
  z-index: 0;
  opacity: 0;
  border-radius: 16px;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  background-size: 2200px 2200px !important;
  -webkit-animation: header-animation 8s linear infinite;
          animation: header-animation 8s linear infinite;
  background: url("https://img.freepik.com/vektoren-kostenlos/flacher-hand-gezeichneter-welliger-mehrfarbiger-grooviger-hintergrund_23-2148848397.jpg?w=360");
}

.section .row .cover .img {
  z-index: 1;
  border-radius: 16px;
  background-size: cover !important;
}

.section .row .cover .img#workup {
  background: url("https://i.scdn.co/image/ab67616d00001e02d1459e6304fcb3d8a0b4998c");
}

.section .row .cover .img#stepup {
  background: url("https://i.scdn.co/image/ab67616d00001e02973472879b77ce19c1232d11");
}

@-webkit-keyframes header-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 400px;
  }
}

@keyframes header-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 400px;
  }
}
/*# sourceMappingURL=style.css.map */